@using AgroConecta.Presentation.Client.Components.General.Alertas
@using AgroConecta.Presentation.Client.Constantes
@using AgroConecta.Shared.Seguridad.Mensajes
@inherits LayoutComponentBase
<HeadContent>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
</HeadContent>
<MudThemeProvider Theme="temaActual" />
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
@inject NavigationManager NavigationManager

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@( _drawerOpen ? Icons.Material.Filled.Close : Icons.Material.Filled.Menu)" Color="Color.Dark" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>

                <MudImage Src="/images/landing/LOGO-AGROCONECTA.png" Height="32" Alt="AgroConecta Logo"></MudImage>
                <MudText Color="Color.Dark" Typo="Typo.h6" Style="font-weight:bold" Class="ml-3">AgroConectados</MudText>
                <MudSpacer/>
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Dark" Edge="Edge.End"/>
            </MudAppBar>
            <MudDrawer @bind-Open="@_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
                @*<MudDrawerHeader>
            <MudText Typo="Typo.h6">Menú principal</MudText>
        </MudDrawerHeader>*@
                <NavMenu/>
            </MudDrawer>
            <MudMainContent Class="pt-16 px-16">
                <MudContainer Class="mt-6">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <MudIcon Icon="@Icons.Material.Filled.GppBad"
                 Color="Color.Error"
                 Style="font-size: 4rem;"/>
        <MudText>No esta autenticado en el sistema....</MudText>
        <MudButton Variant="Variant.Filled" @onclick=RedirectToLogin Color="Color.Primary">Ir al inicio de sesión</MudButton>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MessageBox _messageBox;
    private bool isNotAuthenticated;
    public TemaGeneral temaActual=new();


    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        StateHasChanged();
    }

    private async Task RedirectToLogin()
    {
        {
            NavigationManager.NavigateTo("/Seguridad/Login", forceLoad: true);
        }
    }




}
