@inherits LayoutComponentBase
<HeadContent>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
</HeadContent>
<MudThemeProvider Theme="MyCustomTheme" />
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
@*<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Tertiary" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        $1$
        <img src="/images/landing/LOGO-AGROCONECTA.png" class="mr-3 h-8" alt="AgroConecta Logo" />
        #1#
        <MudImage Src="/images/landing/LOGO-AGROCONECTA.png" Height="32" Alt="AgroConecta Logo"></MudImage>
        <MudText Color="Color.Tertiary" Typo="Typo.h6" Style="font-weight:bold" Class="ml-3">AgroConecta</MudText>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Tertiary" Edge="Edge.End"/>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>*@
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@( _drawerOpen ? Icons.Material.Filled.Close : Icons.Material.Filled.Menu)" Color="Color.Dark" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        
        <MudImage Src="/images/landing/LOGO-AGROCONECTA.png" Height="32" Alt="AgroConecta Logo"></MudImage>
        <MudText Color="Color.Dark" Typo="Typo.h6" Style="font-weight:bold" Class="ml-3">AgroConecta</MudText>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Dark" Edge="Edge.End"/>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
        @*<MudDrawerHeader>
            <MudText Typo="Typo.h6">Menú principal</MudText>
        </MudDrawerHeader>*@
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = Colors.Green.Default,
            Secondary = Colors.Brown.Lighten1,
            Tertiary = Colors.Gray.Lighten1,
            AppbarBackground = Colors.Shades.White,
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Green.Lighten2
        },
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Inter", "sans-serif" }
            }
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px",
        }
    };

    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        StateHasChanged();
    }

}
